{% extends 'base.html' %} {% block content %}

<form method="post" action=" ">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-md-6">{{ form.title.label_tag }} {{ form.title }}</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      {{ form.description.label_tag }} {{ form.description }}
      <div class="text-begin mt-3">
        <button type="submit" class="btn btn-dark">Save</button>
        <a href="{% url 'MEMO_APP:home' %}" class="btn btn-dark mx-1">Back</a>
      </div>
    </div>
  </div>
</form>

{% endblock %}
